* {
  margin: 0px;
  padding: 0px;
}

header {
  position: fixed;
  width: 100vw;
  top: 0%;
  z-index: 1;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/rect%3e%3cpath d='M1646 822L1645 404' stroke-width='6' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1020 694L1019 164' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M503 416L502 21' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M352 671L351 384' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1526 582L1525 -41' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1850 1065L1849 1402' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M559 693L558 272' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M397 365L396 942' stroke-width='10' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M823 75L822 701' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1405 294L1404 -312' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M175 160L174 -581' stroke-width='6' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1698 253L1697 -469' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1685 50L1684 -520' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1786 457L1785 -90' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M894 169L893 -117' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1433 1071L1432 1415' stroke-width='10' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M59 22L58 730' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1388 114L1387 911' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M507 826L506 1592' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1868 783L1867 1420' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1031 631L1030 -138' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M985 946L984 607' stroke-width='6' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1039 239L1038 -480' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1332 816L1331 374' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1849 1070L1848 1806' stroke-width='6' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M723 524L722 -212' stroke-width='10' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M890 552L889 -247' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M617 670L616 -111' stroke-width='6' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M987 590L986 990' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1719 131L1718 638' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1128 705L1127 216' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1748 579L1747 1094' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M939 243L938 908' stroke-width='10' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1220 651L1219 79' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1704 445L1703 843' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M628 188L627 719' stroke-width='6' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1384 728L1383 -14' stroke-width='10' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M324 506L323 905' stroke-width='6' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M351 1022L350 227' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1863 853L1862 307' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M409 813L408 1332' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M311 590L310 -24' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M788 514L787 829' stroke-width='10' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1022 973L1021 1411' stroke-width='6' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M981 237L980 -466' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M675 826L674 490' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1028 1075L1027 587' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M196 139L195 -374' stroke-width='8' stroke='url(%23SvgjsLinearGradient1006)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='rgba(36%2c 0%2c 0%2c 1)' offset='0.02'%3e%3c/stop%3e%3cstop stop-color='rgba(160%2c 83%2c 83%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1006'%3e%3cstop stop-color='rgba(238%2c 59%2c 59%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(238%2c 59%2c 59%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1007'%3e%3cstop stop-color='rgba(238%2c 59%2c 59%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(238%2c 59%2c 59%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
}

main {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 20vh;
  margin-bottom: 5vh;
}
main p {
  color: white;
}
main h1 {
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #5d5d5d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23aaaaaa' fill-opacity='0.52'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 100px;
  background-position: center;
  box-shadow: 0px 0px 10px 1px rgb(50, 50, 50);
}
.navbar ul {
  display: flex;
  gap: 10px;
}
.navbar .logo {
  padding-left: 5vw;
}
.navbar .logo img {
  height: 75px;
  width: 200px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 0px 10px 1px rgb(50, 50, 50);
}
.navbar .navbar__links {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  gap: 10px;
  box-shadow: 0px 0px 10px 1px rgb(50, 50, 50);
}
.navbar .navbar__links .btn-group {
  border-radius: 50px !important;
}
.navbar .navbar__signin-cart {
  display: flex;
  align-items: center;
  padding-right: 5vw;
  gap: 20px;
}
.navbar .navbar__signin-cart button {
  box-shadow: 0px 0px 10px 1px rgb(50, 50, 50);
}
.navbar .navbar__signin-cart #cart-btn {
  display: flex;
  height: 38px;
  align-items: center;
  gap: 10px;
}
.navbar .navbar__signin-cart #cart-btn .bg-dark {
  background-color: #9c2632 !important;
}
.navbar .navbar__signin-cart .fa-cart-shopping {
  font-size: 20px;
}

.greeting {
  margin-bottom: 50px;
}

.card {
  border-radius: 10px;
  background-color: rgba(73, 3, 9, 0.6901960784);
}
.card .card-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}
.card .card-img-container .card-img-top {
  flex-shrink: 0 !important;
  min-width: 100% !important;
  min-height: 100% !important;
  border-radius: 10px;
}
.card .card-body {
  color: white;
}
.card .card-body .text-center .product-title {
  font-size: 150%;
  font-weight: 500;
  margin-bottom: 10px;
}
.card .card-body .text-center .product-price {
  font-size: 115%;
  margin-bottom: 5px;
}

.product-details {
  position: relative;
  border-radius: 10px;
  background-color: rgba(73, 3, 9, 0.6901960784);
  gap: 50px;
  padding: 20px;
}
.product-details .img-cont .img {
  max-width: 500px;
  max-height: 500px;
  width: 35vw;
  height: 35vw;
  border-radius: 10px;
}
.product-details .details__text {
  height: calc(100% - 160px);
}
.product-details .details__text .details__text__title {
  font-size: 300%;
}
.product-details .details__text .details__text__desc {
  font-size: 125%;
}
.product-details .details__bottom {
  display: flex;
  gap: 50px;
  align-items: center;
}
.product-details .details__bottom .details__bottom__price,
.product-details .details__bottom .details__bottom__stock {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
}
.product-details .details__bottom .details__bottom__price .fa-boxes-stacked,
.product-details .details__bottom .details__bottom__price .fa-money-bill-1,
.product-details .details__bottom .details__bottom__stock .fa-boxes-stacked,
.product-details .details__bottom .details__bottom__stock .fa-money-bill-1 {
  font-size: 130%;
  margin-right: 15px;
}

.item-count {
  bottom: 20px;
  background-color: rgba(65, 10, 14, 0.8470588235);
  padding: 20px;
  width: fit-content;
  border-radius: 10px;
  align-items: flex-end;
}
.item-count p {
  text-align: left;
}
.item-count .item-count__cont div {
  width: fit-content;
}
.item-count .item-count__cont div button {
  box-shadow: 0px 0px 10px 1px rgb(50, 50, 50);
}
.item-count .item-count__cont .item-count__cont__ctrls {
  align-items: baseline;
  margin-bottom: 10px;
  gap: 20px;
  height: 50px;
}
.item-count .item-count__cont .item-count__cont__ctrls p {
  width: 10px;
  text-align: center;
}
.item-count .item-count__cont .item-count__cont__ctrls button {
  width: 40px;
}
.item-count .item-count__cont #btn-addToCart {
  width: 130px;
}

.cart {
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.cart .cart__item {
  width: 52.5vw;
  padding: 15px;
  background-color: rgba(73, 3, 9, 0.6901960784);
  border-radius: 10px;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}
.cart .cart__item img {
  width: 125px;
  height: 125px;
  border-radius: 10px;
}
.cart .cart__item .cart__item__desc {
  line-height: 40px;
}
.cart .cart__item .cart__item__desc p {
  margin-bottom: 0px;
}
.cart .cart__item button {
  margin-left: auto;
  margin-right: 20px;
  font-size: 20px;
}
.cart .cart-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart .cart-right .cart__commands {
  display: flex;
  width: 100%;
  gap: 20px;
}
.cart .cart-right .cart__commands button {
  width: 100%;
  font-weight: 500;
  box-shadow: 0px 0px 10px 1px rgb(50, 50, 50);
  font-size: 100%;
}
.cart .cart-right .cart__reduce {
  padding: 20px;
  background-color: rgba(73, 3, 9, 0.6901960784) !important;
  border-radius: 10px;
}
.cart .cart-right .cart__reduce .cart__reduce__total {
  padding: 10px;
  font-size: 125%;
  background-color: rgba(65, 10, 14, 0.8470588235);
  border-radius: 10px;
}
.cart .cart-right .cart__reduce .cart__reduce__total p {
  margin-bottom: 0px;
}
.cart .cart-right .cart__reduce div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cart .cart-right .cart__reduce div b {
  color: white;
}

.border-radius-left {
  border-radius: 4px 0px 0px 4px !important;
}

.border-radius-none {
  border-radius: 0px !important;
}

.border-radius-right {
  border-radius: 0px 4px 4px 0px !important;
}

@media screen and (min-width: 992px) {
  .card-responsive {
    min-width: 300px;
    max-width: 350px;
  }
  .card-responsive .product-title {
    min-height: 72px;
  }
}
@media screen and (min-width: 531px) and (max-width: 991px) {
  .card {
    min-width: 215px !important;
    max-width: 300px !important;
  }
  .card .product-title {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 50px) and (max-width: 530px) {
  .card-responsive {
    padding: 5px;
    margin-bottom: 15px !important;
  }
  .card-responsive .card {
    min-width: 150px !important;
  }
  .card-responsive .card .product-title {
    font-size: 14px !important;
  }
  .card-responsive .card .product-price {
    font-size: 12px !important;
  }
}
@media screen and (min-width: 321px) and (max-width: 364px) {
  .product-title {
    font-weight: 300 !important;
  }
}
@media screen and (max-width: 320px) {
  .product-title {
    font-weight: 500 !important;
  }
}

/*# sourceMappingURL=App.css.map */
