.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #5d5d5d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23aaaaaa' fill-opacity='0.52'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 100px;
    background-position: center;
    box-shadow: $box-shadow;

    ul {
        display: flex;
        gap: 10px;
    }

    .logo {
        padding-left: 5vw;

        img {
            height: 75px;
            width: 200px;
            border-radius: 20px;
            object-fit: cover;
            box-shadow: $box-shadow;
        }
    }

    .navbar__links {
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        gap: 10px;
        box-shadow: $box-shadow;

        .btn-group {
            border-radius: 50px !important;
        }
    }

    .navbar__signin-cart {
        display: flex;
        align-items: center;
        padding-right: 5vw;
        gap: 20px;

        button {
            box-shadow: $box-shadow;
        }

        #cart-btn {
            display: flex;
            height: 38px;
            align-items: center;
            gap: 10px;

            .bg-dark {
                background-color: $red-btn-dark  !important;
            }
        }

        .fa-cart-shopping {
            font-size: 20px;
        }
    }
}

.greeting {
    margin-bottom: 50px;
}


.card {
    border-radius: 10px;
    background-color: $red-bg-dark-translucent;

    .card-img-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 10px;

        .card-img-top {
            flex-shrink: 0 !important;
            min-width: 100% !important;
            min-height: 100% !important;
            border-radius: $b-r-img;
        }
    }

    .card-body {
        color: white;

        .text-center {

            .product-title {
                font-size: 150%;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .product-price {
                font-size: 115%;
                margin-bottom: 5px;
            }
        }
    }
}

.product-details {

    position: relative;
    border-radius: $b-r-img;
    background-color: $red-bg-dark-translucent;
    gap: 50px;
    padding: 20px;

    .img-cont {

        .img {
            max-width: 500px;
            max-height: 500px;
            width: 35vw;
            height: 35vw;
            border-radius: $b-r-img;
        }
    }

    .details__text {

        height: calc(100% - 160px);

        .details__text__title {
            font-size: 300%;
        }

        .details__text__desc {
            font-size: 125%;
        }

    }

    .details__bottom {
        display: flex;
        gap: 50px;
        align-items: center;

        .details__bottom__price,
        .details__bottom__stock {
            margin-top: 8px;
            margin-bottom: 8px;

            .fa-boxes-stacked,
            .fa-money-bill-1 {
                font-size: 130%;
                margin-right: 15px;
            }

            font-size: 24px;
            font-weight: 500;
        }

        
    }
}

.item-count {
    bottom: 20px;
    background-color: $red-bg-dark;
    padding: 20px;
    width: fit-content;
    border-radius: $b-r-img;
    align-items: flex-end;

    p {
        text-align: left;
    }

    .item-count__cont {

        div {
            width: fit-content;

            button {
                box-shadow: $box-shadow;
            }
        }

        .item-count__cont__ctrls {
            align-items: baseline;
            margin-bottom: 10px;
            gap: 20px;
            height: 50px;

            p {
                width: 10px;
                text-align: center;
            }

            button {
                width: 40px;
            }
        }

        #btn-addToCart {
            width: 130px;
        }
    }
}


.cart {

    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 100px;

    .cart__item {
        width: 52.5vw;
        padding: 15px;
        background-color: $red-bg-dark-translucent;
        border-radius: $b-r-img;
        align-items: center;
        gap: 25px;
        margin-bottom: 30px;

        img {
            width: 125px;
            height: 125px;
            border-radius: $b-r-img;
        }

        .cart__item__desc {

            line-height: 40px;

            p {
                margin-bottom: 0px;
            }
        }

        button {
            margin-left: auto;
            margin-right: 20px;
            font-size: 20px;
        }
    }

    .cart-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        #cart-clear {
            width: 25%;
            min-width: 100px;
            align-self: center;
        }

        .cart__reduce {
            padding: 20px;
            background-color: $red-bg-dark-translucent  !important;
            border-radius: $b-r-img;

            .cart__reduce__total {
                padding: 10px;
                font-size: 125%;
                background-color: $red-bg-dark;
                border-radius: $b-r-img;

                p {
                    margin-bottom: 0px;
                }
            }

            div {
                display: flex;
                width: 100%;
                justify-content: space-between;


                b {
                    color: white;
                }
            }
        }
    }
}

.border-radius-left {
    border-radius: $b-r-btn-left  !important;
}

.border-radius-none {
    border-radius: $b-r-btn-none  !important;
}

.border-radius-right {
    border-radius: $b-r-btn-right  !important;
}

;