.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #5d5d5d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23aaaaaa' fill-opacity='0.52'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 100px;
    background-position: center;
    box-shadow: $box-shadow;

    ul {
        display: flex;
        gap: 10px;
    }

    .logo {
        padding-left: 5vw;

        img {
            height: 75px;
            width: 200px;
            border-radius: 20px;
            object-fit: cover;
            box-shadow: $box-shadow;
        }
    }

    .navbar__links {
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        gap: 10px;
        box-shadow: $box-shadow;
    }

    .navbar__signin-cart {
        display: flex;
        align-items: center;
        padding-right: 5vw;
        gap: 20px;

        button {
            box-shadow: $box-shadow;
        }

        #cart-btn {
            display: flex;
            height: 38px;
            align-items: center;
            gap: 10px;

            .bg-dark {
                background-color: $red-btn-dark  !important;
            }
        }

        .fa-cart-shopping {
            font-size: 20px;
        }
    }
}

.greeting {
    margin-bottom: 50px;
}

.item-count {

    background-color: $red-btn-dark-translucent;
    margin-bottom: 5vh;
    padding: 20px;
    margin-left: 75px;
    margin-top: 50px;
    width: fit-content;
    border-radius: $b-r-btn;

    p {
        text-align: left;
    }

    .item-count__cont {

        div {
            width: fit-content;

            button {
                box-shadow: $box-shadow;
            }
        }

        .item-count__cont__ctrls {
            align-items: baseline;
            margin-bottom: 10px;
            gap: 20px;
            height: 50px;

            p {
                width: 10px;
                text-align: center;
            }

            button {
                width: 40px;
            }
        }

        #btn-addToCart {
            width: 130px;
        }
    }
}

.card {
    border-radius: 10px;
    background-color: $red-btn-dark-translucent;

    .card-img-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 10px;

        .card-img-top {
            flex-shrink: 0 !important;
            min-width: 100% !important;
            min-height: 100% !important;
            border-radius: 10px;
        }
    } 

    .card-body {
        color: white;

        .text-center {
            
            .product-title {
                font-size: 150%;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .product-price {
                font-size: 115%;
                margin-bottom: 5px;
            }
        }
    }
}


;