// COLORS

$red-btn: #dc3545;
$red-btn-dark: #9c2632;
$red-bg-dark: #410a0ed8;
$red-bg-dark-translucent: #490309b0;

// SHADOWS & BORDERS

$b-r-btn: 4px;
$b-r-img: 10px;
$box-shadow: 0px 0px 10px 1px rgb(50, 50, 50);
